# Generic, system, text editors
*~
\#*\#
_autosave-*
/build/
.DS_Store
.~lock.*
.*.swp
*.bak
*.log
*.old
*_old
*.tmp
.vscode/
.idea/

# Python
*.egg-info
*.pyc
__pycache__/
python_venv/

# KiCad
*-backups
*-cache
*.bak
*.bck
*.drl
*.kicad_prl
*.lck
fab/
plots/
jlcpcb/
production/
