[tools]
arduino = "1.3.0"
python = "3.12"
uv = "latest"

[settings]
experimental = true
python_compile = false

[env]
_.python.venv = { path = "dev.tmp/python_venv", create = true }
UV_PROJECT_ENVIRONMENT = "{{config_root}}/dev.tmp/python_venv"
ARDUINO_DIRECTORIES_DATA = "{{config_root}}/dev.tmp/arduino"
ARDUINO_LIBRARY_ENABLE_UNSAFE_INSTALL = "true"

[vars]
u_port = "/media/{{env.USER}}/RPI-RP2"
m_port = "$(okserial -l1 RP2040)"

[tasks]
cu = { depends = ["c", "u"] }
um = { depends = ["u"], run = "sleep 1", depends_post = ["m"] }
cum = { depends = ["c", "um"] }

[tasks.c]
run = "arduino-cli compile"
dir = "{{cwd}}"

[tasks.u]
run = "port=\"{{vars.u_port}}\"; arduino-cli upload --port \"$port\""
dir = "{{cwd}}"
wait_for = "c"

[tasks.m]
run = "port=\"{{vars.m_port}}\"; arduino-cli monitor --port \"$port\""
dir = "{{cwd}}"
wait_for = "u"
raw = true

[hooks]
postinstall = ["git lfs install --local", "git lfs pull", "uv sync"]
